@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');




.eventoInfo{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 10px;
}

.eventoInfo h2 {
  text-decoration: underline;
  font: 700 28px 'Roboto', sans-serif;
}

.eventoInfo h3 {
  font: 700 20px 'Roboto', sans-serif;
}

.eventoInfo p {
  font: 300 18px 'Roboto', sans-serif;
}

.content-modal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content-column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.street {
  width: 93.5%;
}

input {
  width: 80%;
  border-radius: 4px;
  height: 40px;
  padding: 4px;
  border-color: #424242 solid;
  border-width: 1px;
}

button {
  margin-top: 20px !important;
  background-color: #7ffaae;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
}

button:hover{
  background-color: #a2fcc4;
}

/*+++++++++++LOADING+++++++++++++++*/
header {
  width: 100% !important;
  background-color: white !important;
}

.loader {
  border: 2px solid #a2fcc4;
  border-radius: 50%;
  border-top: 2px solid #424242;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/*+++++++++++MENU+++++++++++++++*/
.header-inscricao{
  background-color: #196618;
  width: 92.7%;
  height: 69px;
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.logo-inscricao{
  
  margin-left: 30px;
}

.logo-inscricao a{
  color: #fff;
  font: 700 16px 'Roboto', sans-serif;
  cursor: pointer;
}

.logo-inscricao a:hover{
  color: #7ffaae;
}

.titulo-inscricao h1{
  color: #fff !important;
}

.user-info-inscricao{
  color: #fff;
  font: 400 16px 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.user-info-inscricao p {
  margin-top: 0% !important;
}

.button-logout-inscricao{
  background-color: #062500 !important;
  border: none !important;
  border-radius: 5px !important;
  transition: 0.4s !important;
  font: 400 16px 'Roboto', sans-serif !important;
  margin-left: 5px;
  margin-right: 30px;
  margin-top: 0px !important;
}

.button-logout-inscricao:hover{
  background-color: #16460d;
}



/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}