@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');


.header{
  background-color: #7ffaae;
  width: 100%;
  height: 52px;
  margin-top: 0px;
}

.eventoInfo{
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 10px;
}

.content-modal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content-column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.street {
  width: 93.5%;
}

input {
  width: 80%;
  border-radius: 4px;
  height: 40px;
  padding: 4px;
  border-color: #424242 solid;
  border-width: 1px;
}

button {
  margin-top: 20px !important;
  background-color: #7ffaae;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
}

button:hover{
  background-color: #a2fcc4;
}

/*+++++++++++LOADING+++++++++++++++*/
.loader {
  border: 2px solid #a2fcc4;
  border-radius: 50%;
  border-top: 2px solid #424242;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/*+++++++++++MENU+++++++++++++++*/
.header-menu {
  background-color: transparent;
}

.menu {
  background-color: #196618;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.item{
  color: #a3e021;
  font: 400 16px 'Roboto', sans-serif;
  margin-top: 20px;
  margin-right: 40px;
}

.item:hover{
  color: #c2eb6b;
  transition: 0.2s;
}

.menu-item a{
  color: #fff;
  font: 700 16px 'Roboto', sans-serif;
  margin-top: 20px;
  cursor: pointer;
  
}

.user-info p {
  color: #fff;
  font: 400 16px 'Roboto', sans-serif;
  
}

.button-logout {
  background-color: #062500;
  border: none;
  border-radius: 5px;
  transition: 0.4s;
  font: 400 16px 'Roboto', sans-serif;
} 

.button-logout:hover {
  background-color: #16460d;
} 

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}