/*+++++++++++MENU+++++++++++++++*/
.header-cadastro{
  background-color: #196618;
  width: 92.7%;
  height: 69px;
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  margin-left: 3.7%;
}

.logo-cadastro{
  margin-left: 18%;
  margin-right: 200px;
}

.logo-cadastro a{
  color: #fff;
  font: 700 16px 'Roboto', sans-serif;
  cursor: pointer;
}

.logo-cadastro a:hover{
  color: #7ffaae;
}

.titulo-cadastro h1{
  color: #fff !important;
  font: 400 16px 'Roboto', sans-serif;
}

.content-cadastro {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center; 
}


.tro{
  margin-top: 200px;
}
