.listaItem {
  background: white;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(50, 50, 90, .1);
}
.listaItem a{
  text-decoration: none;
  padding: 10px;
  font-size: 1em;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

.checkEventos .titulo {
  cursor: pointer;
  padding: 10px;
  font-size: 1em;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: black;
}

.checkEventos .titulo::before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 24px;
  margin-right: 20px;
  background: black;
}

.checkEventos .titulo::after {
  content: '+';
  float: right;
  margin-left: 20px;
  transition: transform .3s ease;
}

.checkEventos .listEvents{
  padding: 10px;
  color: #6b7c93;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: .875em;
  display: none;
}

.checkSimbol {
  display: none;
}

input:checked + .checkEventos .listEvents {
  display: block;
}

input:checked + .checkEventos .titulo::after {
  transform: rotate(45deg) scale(1.08);
}

.listEvents table {
  width: 450px;
}